.lower-container {
  position: absolute;
  top: 205px;
  left: 0;
  width: 100%;
  background-color: red;
}

.stat-tag {
  background-color: rgb(187, 53, 76);
  width: 100%;
  text-align: center;
}

.selector-main-container {
  flex-flow: row wrap;
}

.cont-container {
  display: flex;
  flex-flow: column wrap;
  height: 200px;
  width: 50%;
  justify-content: space-between;
  align-items: flex-end;
}

.cont-container:nth-child(2n+1) {
  background-color: rgb(184, 29, 29);
}

.cont-container > img {
  height: 100px;
  align-self: flex-start;
}

.cont-name {
  margin: 0 15px 10px 0;
}