.upper-container {
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 100%;
  height: 170px;
  background-color: #fa5091;
  z-index: -1;
}

.view-main-container {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 1fr;
}

.view-main-container > img {
  height: 100px;
  margin: 35px 0 0 10%;
  filter: invert(28%) sepia(47%) saturate(1705%) hue-rotate(299deg) brightness(80%) contrast(88%);
}

.view-main-container > h2 {
  margin: 35px 0 0 10%;
  align-self: center;
}

.world-stats-container {
  margin: 20px 0 0 20%;
}

.total-stats-data {
  font-size: 1rem;
}
