.upper-container {
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 100%;
  height: 170px;
  background-color: pink;
  z-index: -1;
}

.view-main-container {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 1fr;
}

.view-main-container > img {
  height: 100px;
  width: 150px;
  margin: 35px 0 0 10%;
}

.world-stats-container {
  margin: 15px 30% 0 20%;
}
