@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
  font-family: "GillSans";
  src:
    url("./assets/Gill-Sans-Font-Family/Gill\ Sans.otf") format("opentype"),
    url("./assets/Gill-Sans-Font-Family/Gill\ Sans\ Bold.otf") format("opentype");
}

.d-flex {
  display: flex;
}

* {
  font-family: 'GillSans', sans-serif;
  color: white;
}
